# Connect Python to SQL Server using pyodbc

In [2]:
# import module
!pip install pyodbc
import pyodbc

Collecting pyodbc
  Downloading pyodbc-4.0.39-cp38-cp38-win_amd64.whl (69 kB)
     ---------------------------------------- 69.7/69.7 kB 1.9 MB/s eta 0:00:00
Installing collected packages: pyodbc
Successfully installed pyodbc-4.0.39

In [52]:
# open database connection
conn = pyodbc.connect('Driver={SQL Server};'
                        'Server=LAPTOP-85JV9O5E;'
                        'Database=test_database;'
                        'Trusted_Connection=yes')

In [53]:
# prepare a cursor object using cursor() method
cursor = conn.cursor()

In [54]:
# execute SQL query using execute() method.
cursor.execute('SELECT * FROM products')

In [55]:
for i in cursor:
    print(i)

(1, 'Laptop', 1100)
(2, 'Printer', 200)
(3, 'Keyboard', 80)
(4, 'Monitor', 450)
(5, 'Tablet', 300)

In [56]:
# disconnect from server
conn.close()

## CREATE DATABASE TABLE

In [20]:
# open database connection
import pyodbc
conn = pyodbc.connect('Driver={SQL Server};'
                        'Server=LAPTOP-85JV9O5E;'
                        'Database=test_database;'
                        'Trusted_Connection=yes;')

In [21]:
# prepare a cursor object using cursor() method
cursor = conn.cursor()

In [22]:
# Drop table if it already exist using execute() method
# cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")

# create table as per requirement
sql = """CREATE TABLE employee(
        first_name char(20) NOT NULL,
        last_name char(20),
        age int,
        sex char(1),
        income float,
        );"""

cursor.execute(sql)

In [14]:
# disconnect from server
conn.close()

## INSERT operation

It is required when you want to create your records into a database table.

In [28]:
# open database connection
conn = pyodbc.connect('Driver={SQL Server};'
                     'Server=LAPTOP-85JV9O5E;'
                     'Database=test_database;'
                     'Trusted_Connection=yes;')

In [29]:
# prepare a cursor object using cursor() method
cursor = conn.cursor()

In [30]:
# preapre SQL query to INSERT a record into the database
sql = '''INSERT INTO employee VALUES
        ('Mac','Mohan',20,'M',2000)'''

In [31]:
try:
    # Execute the sql command
    cursor.execute(sql)
    # Commit your changes in the database
    conn.commit()
except:
    # Rollback in case there is any error
    conn.rollback()

In [32]:
# fetch the results from table
sql_query = 'SELECT * FROM employee'

# Execute the sql command
cursor.execute(sql_query)

In [33]:
# print the records
for i in cursor:
    print(i)

('Mac                 ', 'Mohan               ', 20, 'M', 2000.0)
('Mac                 ', 'Mohan               ', 20, 'M', 2000.0)

In [ ]:
# close the database connection
conn.close()

## READ operation

READ Operation on any database means to fetch some useful information from the database.

Once our database connection is established, you are ready to make a query into this database. You can use either **fetchone()** method to fetch single record or **fetchall()** method to fetech multiple values from a database table.

- **fetchone()** − It fetches the next row of a query result set. A result set is an object that is returned when a cursor object is used to query a table.

- **fetchall()** − It fetches all the rows in a result set. If some rows have already been extracted from the result set, then it retrieves the remaining rows from the result set.

- **rowcount** − This is a read-only attribute and returns the number of rows that were affected by an execute() method.

In [36]:
# query to to fetch all the records from the employee table having salary more than 1000

import pyodbc

# open database connection
conn = pyodbc.connect('Driver={SQL SERVER};'
                      'Server=LAPTOP-85JV9O5E;'
                     'Database=test_database;'
                     'Trusted_connection=yes;')

In [37]:
# prepare a cursor object using cursor() method
cursor = conn.cursor()

In [38]:
# query
sql = '''SELECT * FROM employee
        WHERE INCOME > 1000'''

In [40]:
try:
    # Execute the SQL command
    cursor.execute(sql)
    # Fetch all the rows in a list of lists
    results = cursor.fetchall()
    for row in results:
        fname = row[0]
        lname = row[1]
        age = row[2]
        sex = row[3]
        income = row[4]
        # Now print fetched results
        print(f"fname={fname},lname={lname},age={age},sex={sex},income{income}")
except:
    print("Error: unable to fetch data")
    
# disconnect from server
conn.close()

fname=Mac                 ,lname=Mohan               ,age=20,sex=M,income2000.0
fname=Mac                 ,lname=Mohan               ,age=20,sex=M,income2000.0

## UPDATE Operation

UPDATE Operation on any database means to update one or more records, which are already available in the database.

The following procedure updates all the records having SEX as 'M'. Here, we increase AGE of all the males by one year.

In [41]:
# import module
import pyodbc

# open database connection
conn = pyodbc.connect('DRIVER={SQL SERVER};'
                     'Server=LAPTOP-85JV9O5E;'
                     'Database=test_database;'
                     'Trusted_connection=yes;')

In [42]:
# prepare a cursor object using cursor() method
cursor = conn.cursor()

In [44]:
# Prepare sql query to UPDATE required records
sql = '''UPDATE employee SET AGE = AGE + 1
            WHERE SEX = \'M\''''

try:
    # Execute the SQL command
    cursor.execute(sql)
    # Commit your changes in the database
    conn.commit()
except:
    # Rollback in case there is any error
    conn.rollback()

In [45]:
# disconnect from server
conn.close()

## DELETE operation

DELETE operation is required when you want to delete some records from your database.

In [47]:
# Following is the procedure to delete all the records from EMPLOYEE 
# where AGE is more than 20

# import module
import pyodbc

# establish database connection
conn = pyodbc.connect('DRIVER={SQL SERVER};'
                     'Server=LAPTOP-85JV9O5E;'
                     'Database=test_database;'
                     'Trusted_connection=yes')

# prepare a cursor object using cursor() method
cursor = conn.cursor()

# prepare sql query to delete required records
sql = "DELETE FROM EMPLOYEE WHERE AGE > 20"

try:
    # Execute the sql command
    cursor.execute(sql)
    # commit the changes in the database
    conn.commit()
except:
    # Rollback in case there is any error
    conn.rollback()
    
# disconnect from server
conn.close()

### Performing Transactions
Transactions are a mechanism that ensures data consistency. Transactions have the following four properties −

- **Atomicity** − Either a transaction completes or nothing happens at all.

- **Consistency** − A transaction must start in a consistent state and leave the system in a consistent state.

- **Isolation** − Intermediate results of a transaction are not visible outside the current transaction.

- **Durability** − Once a transaction was committed, the effects are persistent, even after a system failure.

### COMMIT Operation

Commit is the operation, which gives a green signal to database to finalize the changes, and after this operation, no change can be reverted back.

Here is a simple example to call commit method.

db.commit()

### ROLLBACK Operation

If you are not satisfied with one or more of the changes and you want to revert back those changes completely, then use rollback() method.

Here is a simple example to call rollback() method.

db.rollback()

### Disconnecting Database

To disconnect Database connection, use close() method.

db.close()

## CREATE A DATABASE

In [5]:
import pyodbc

# establish database connection
conn = pyodbc.connect('DRIVER={SQL SERVER};'
                     'Server=LAPTOP-85JV9O5E;'
                     'Trusted_connection=yes;',
                     autocommit=True)

In [6]:
# create cursor object using cursor() method
cursor = conn.cursor()

In [7]:
# write a sql query to create database
sql = "CREATE DATABASE test_database_2"

# run the sql query
cursor.execute(sql)

In [8]:
cursor.execute("USE test_database_2")

In [9]:
# create table 
create_table_query = '''CREATE TABLE testing(
                        test_id int,
                        test_name varchar(20),
                        test_age int,
                        test_salary int)'''

cursor.execute(create_table_query)

In [10]:
# insert records into the table
insert_query = '''INSERT INTO testing VALUES
                (1,'Man',25,25000),
                (2,'Woman',23,46000)'''

cursor.execute(insert_query)

In [13]:
# read the table
cursor.execute('SELECT * FROM testing')

for i in cursor:
    print(i)

(1, 'Man', 25, 25000)
(2, 'Woman', 23, 46000)

In [14]:
# disconnect the database connection
conn.close()